// variables
// $variavel: blue;

// body {
//   $variavel2: yellow;

//   background-color: $variavel2;
// }

// h1 {
//   background-color: $variavel;
// }

// conditional
$enable: true;
$check: 1;

$cor-personalizada: red;

.component {
  width: 250px;
  height: 150px;

  @if $enable {
    background-color: $cor-personalizada;
  } @else {
    background-color: yellow;
  }
}
