/* variables
 * -------------------------------------------------- */
  $variavel: blue;

  body {
    $variavel2: yellow;

    background-color: $variavel2;
  }

  h1 {
    background-color: $variavel;
  }
/* -------------------------------------------------- */

/* conditional
 * -------------------------------------------------- */
  $enable: true;
  $check: 1;

  $cor-personalizada: red;

  .component {
    width: 250px;
    height: 150px;

    @if $enable {
      background-color: $cor-personalizada;
    } @else {
      background-color: yellow;
    }
  }
/* -------------------------------------------------- */

/* nesting
 * -------------------------------------------------- */
  .component {
    width: 100%;

    .child {
      color: #000;

      .last {
        float: left;
      }

      &:after {
        // ...
      }

      &:before {
        // ...
      }
    }

    .first {
      // ...
    }

    .outro {
      // ...
    }
  }
/* -------------------------------------------------- */

/* heritage
 * -------------------------------------------------- */
  .component-navbar {
    width: 100%;
    height: 250px;
    float: left;
    margin-left: 20px;
    padding: 10px;
  }

  .component-header {
    @extend .component-navbar;
    // @extend .col-md-6;

    background-color: #000;
  }

  .outra {
    @extend .component-navbar;
  }
/* -------------------------------------------------- */

/* mixin
 * -------------------------------------------------- */
  @mixin base_component {
    width: 500px;
    height: 100px;
    float: left;
  }

  .component {
    @include base_component;
  }

  .outro-component {
    @include base_component;
  }

  // requires parameter
  @mixin pessoa ( $cor-olho, $altura, $peso ) {
    width: $peso;
    height: $altura;
    color: $cor-olho;
  }

  .joao {
    @include pessoa( #000, 100px, 500px );
  }

  // default parameter ( report last )
  @mixin pessoa ( $cor-olho, $altura, $peso: 80px ) {
    width: $peso;
    height: $altura;
    color: $cor-olho;
  }

  .joao {
    @include pessoa( #000, 100px );
  }
/* -------------------------------------------------- */

