/* variables
 * -------------------------------------------------- */
body {
  background-color: yellow; }

h1 {
  background-color: blue; }

/* -------------------------------------------------- */
/* conditional
 * -------------------------------------------------- */
.component {
  width: 250px;
  height: 150px;
  background-color: red; }

/* -------------------------------------------------- */
/* nesting
 * -------------------------------------------------- */
.component {
  width: 100%; }
  .component .child {
    color: #000; }
    .component .child .last {
      float: left; }

/* -------------------------------------------------- */
